*{
	margin:0;
	padding: 0;
	font-family: Century Gothic;
}
header {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
nav {
	background:orange;
	height: 70px;
	width:100%;
}
nav ul{
	float: right;
	list-style-type: none; 
	margin-top: 25px;
}
nav ul li{
	display: inline-block;

}
nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
h1{
	font-size: 40px;
}

}
p {
	text-align: justify;
}
.logo img{
	float: left;
	margin-left: -60px;
	width: 70px;
	height: 70px;
}
.main{
	max-width: 1200px;
	margin: auto;

}
.title{
	position: absolute;
	top: 20%;
	left: 30%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: white;
	font-size: 100px;
	font-family: 'Dancing Script', cursive;
}
.subtitle {
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-50%,-50%);
}
.subtitle h5 {
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	color: white;
}
.button{
	position: absolute;
	top: 40%;
	left: 30%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: orange;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;

}
.section {
	height: 100vh;
	padding: 30px;
}
.about {
	display: flex;
	flex-direction: column;
}
.about h1 {
	color: orange;
}
.about p {
	line-height: 30px;
}
.about img {
	width: 100%;
	height: 700px;
	object-fit: cover;
}
.location h1 {
	color: orange;
}
.location .map {
	display: flex;
	align-content: center;
}
.location hr {
	margin-bottom: 30px;
}
.learn {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 20px;
}
.learn .heading {
	width: 400px;
	background-color: orange;
	padding: 10px;
	border-radius: 0 10px 10px 0;
	margin-bottom: 10px;
	/*text-align: center;*/
}
@media screen and (max-width: 1000px) {
	header {
		height: 40vh;
	}
	.section {
		height: 40vh;
	}
}

.header {
 	text-align: center;
	font-family: 'Dokdo', cursive;
	font-size: 30px;
	color: orange;
}

main {
	margin-left: 120px;
}

.img {
 	width: 100%;
 	height: 200px;
 	border-radius: 5px;
 	object-fit: cover;
}

.img:hover {
	transform: scale(1.2);
	transition: 1s transform;
}

.box { 
	display: block;
	float: left;
	width: 30%;
	padding: 10px;
	overflow: hidden;
	border-radius: 5px;
}